.navbar-default {
    background-color: white;
}

.navbar-header {
    float: initial;
}

.navbar-header .navbar-nav {
    display: flex;
    justify-content: center;
    float: initial;
    flex-wrap: wrap;
}
.navbar-nav>li>a {
  padding: 15px 40px;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 28px;
  font-weight: bold;
  color: black;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
body {
  margin: 0 auto;
  background: #e9ebee;
}

.carousel {
    height: 100vh;
}

.carousel-inner {
    height: 100%;
}

.carousel-inner .item {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.title {
    position: absolute;
    top: 90px;
    bottom: 70px;
    left: 15%;
    right: 15%;
    z-index: 1000;
    text-align: center;
}
h1 {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 80px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    }
.item--background1 {
    background-image: url("giraffes.jpg");
}
.item--background2 {
    background-image: url("coffee.jpg");
}
.item--background3 {
    background-image: url("mountain.jpg");
}
h2 {
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 45px;
    padding-top: 50px;
}
h3 {
  font-size: 20px;
  font-family: 'Delius', cursive;
  font-weight: bold;
}
#video {
  margin-top: 20px;
}
.description {
    max-width: 800px;
    margin: auto;
    font-family: 'Droid Serif', serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
    flex: 1 0 0px;
    background-color: white;
    margin: 18px 20px;
    min-width: 300px;
    border-style: ridge;
    border-width: 5px;
}
.mapbox {
    flex: 0 0 410px;
}
.text {
    padding: 20px;
    font-family: 'Delius', cursive;
    margin: 20px 20px;
    min-width: 300px;
}
.picture {
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
}
iframe {
  padding: 10px;
  border-style: ridge;
  border-width:5px;
  background: white;
}
.ics {
    background-image: url("shakinghands.jpg");
}
.raleigh {
    background-image: url("raleigh.jpg");
 }
.minimarathon {
    background-image: url("Fundraising1.jpg");
 }
 .run {
    background-image: url("minimarathon.jpg");
}
.moreinfo {
  text-decoration: none;
  color: black;
}
.moreinfo:hover {
  text-decoration: none;
  color: #3a9937;
}
.jg-widget {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}
ul#social-media-navigation {
  padding: 20px;
  list-style-type: none;
  text-align: center;
}
ul#social-media-navigation li {
  text-align: center;
  display: inline-block;
  opacity: 0.8;
}
ul#social-media-navigation li:hover {
  opacity: 1;
}
.social-media {
  max-height: 20px;
}
ul#contactdetails {
  list-style-type: none;
}
ul#contactdetails li {
  font-family: 'Delius', cursive;
  color: #3a9937;
  text-align: center;
}
#signup {
  text-align: center;
  display: flex;
}
input[type=text], input[type=email] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
}
.signupbtn {
    width: 25%;
}
/* Add padding to container elements */
.container {
    padding: 16px;
}
/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 500px) {
    .signupbtn {
        width: 50%;
    }
    h1 {
        font-size: 50px;
        padding-top: 50px;
    } 
    .navbar-nav>li>a {
      font-size: 25px;
    }   
}