
header {
  padding: 20px 0;
}
header nav {
  display: flex;
  justify-content: flex;
}
.navbar-header, .navbar-nav {
  width:100%;
}

.navbar-nav {
  text-align: right;
}

ul.navbar-nav li {
  display: inline-block;
  margin: 0;
  padding: 0px 20px;
  transition: 0.3s;
  font-size: 22px;
  color: black;
  text-align:right;
  float:none;
}
ul.navbar-nav li#title {
  margin: 0;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 25px;
  font-weight: bold;
  color: #799575;
  display: inline-block;
  padding: 10px 20px;  
  float: left;
  text-align:left;
}
a {
  padding: 0px 10px 0px 10px;  
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 22px;
  font-weight: bold;
  color: black;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
body {
  margin: 0 auto;
  background: #e9ebee;
  padding-top: 30px;
}
div#raleigh {
  padding: 20px 20px;
}
ul#social-media-navigation {
  border-top: double;
  border color: black;
  padding: 20px;
  list-style-type: none;
  text-align: center;
}
ul#social-media-navigation li {
  text-align: center;
  display: inline-block;
}
.social-media {
  max-height: 20px;
}